@charset "utf-8";

@use "./layout/grid";
@use "./layout/nav";

/* --for PC & global-- */
body {
  color: #333;
  font-family: 'Fjalla One', 'Kosugi', 'Montserrat', Helvetica, 'Avenir', Arial,'Century Gothic',  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  background-image: url(../img/bg.jpg);
  font-size: 1rem;
}

h1,
img {
  margin: 0;
  padding: 0;
}

#app {
  position: relative;
  text-align: center;
  padding-bottom: 60px;
  height: 100%;

  & > div {
    padding-left: 250px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  max-width: 75vw;
  width: 97%;
  min-height: 90vh;
  margin: 0 auto 0 0;
}

.area-title {
  color: #1e641c;
  font-size: 2.75rem;
  font-weight: normal;
  margin-bottom: 2rem;
  text-shadow: 7px 8px 4px #a7df96;

  &::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 2.6rem;
    background: #4aa381;
    margin-right: 0.5rem;
    margin-bottom: -4px;
  }
}

/* --for tablet-- */
@media screen and (max-width: 959px){
  body {
    font-size: .85rem;
  }
  #app {
    & > div {
      padding-left: 170px;
    }
  }
}

/* --for SP-- */
@media (max-width: 559px) {
  #app {
    & > div {
      padding-left: 0;
      margin-top: 4rem;
    }
  }

  .container {
    max-width: 100%;
    width: auto;
    min-height: 75vh;
    margin: 0 auto;
  }
}