@charset "utf-8";

@use "./abstracts/variables";
@use "./abstracts/mixins";
@use "./layout/grid";
@use "./layout/nav";

/* --for PC & global-- */
body {
  color: #333;
  font-family: 'Fjalla One', 'Kosugi', 'Montserrat', Helvetica, 'Avenir', Arial,'Century Gothic',  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  background-image: url(../img/bg.jpg);
  font-size: 1rem;
}

h1 {
  margin: 0;
  padding: 0;
}

#app {
  position: relative;
  text-align: center;
  padding-bottom: 60px;
  height: 100%;

  & > div {
    padding-left: 250px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  max-width: 75vw;
  width: auto;
  min-height: 90vh;
  margin: 0 auto 0 0;
}

.area-title {
  color: #2c8829;
  font-size: 3.25rem;
  font-weight: normal;
  margin-bottom: 4.5rem;
  text-shadow: 25px 45px 1px #a7df96, 0px 0px 0px #034210;
}

/* --for tablet-- */
@media screen and (max-width: 959px){
  body {
    font-size: .85rem;
  }
  #app {
    & > div {
      padding-left: 170px;
    }
  }
}

/* --for SP-- */
@media (max-width: 559px) {
  #app {
    & > div {
      padding-left: 0;
      margin-top: 4rem;
    }
  }

  .container {
    max-width: 100%;
    width: auto;
    min-height: 75vh;
    margin: 0 auto;
  }
}